.nav {
  position: unset !important;
  width: 100vw !important;
  height: 8vh !important;
  left: 0px !important;
  top: 0px !important;
  background: #1d437d;
  box-shadow: inset 4px -4px 24px 16px rgba(0, 0, 0, 0.2);

  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  /* position: absolute; */
  width: 74px;
  height: 32px;
  /* left: 48vw;
  top: 1.4vh; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 120%;
  color: #ffffff;
}
.back-png {
  /* left: 1.5em;
  top: 1em; */
  width: 1em !important;
  margin: 0px 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 1em;
}

@media only screen and (max-device-width: 500px) {
  .back-png {
    /* left: 1.5em;
    top: 1em; */
    width: 0.5em !important;

    margin: 0px 0.5rem;
  }
}

.info-png {
  /* left: 95vw;
  top: 0.8em; */
  margin: 0px 0.5rem;
}
