.modal {
  width: 30vw;
  position: none;

  left: 5vw;
  height: fit-content;
  max-height: 90%;
  top: 4.8rem;

  background: transparent;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-btn {
  cursor: pointer;
}
.opacity-position {
  top: 4.8rem ;
}
.stroke-position {
  top: 4.8rem ;
}

.modal-body {
  overflow: hidden ;
}
.modal-heading {
  background-color: #5c85c7  ;
  color: #ffff  ;
}
.absolute-position {
  z-index: 9999999;
}

.modal-close-button {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: red;
  font-weight: bolder;
  border-radius: 8px;
}
.modal-title-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .modal2 {
    width: 100%;
    left: 0;
    position: sticky ;
    bottom: 0rem ;
    height: fit-content;
    max-height: 80%;
    top: 4rem;
    background: transparent;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-download {
    width: 100%;
    left: 0;
    position: fixed ;
    bottom: 0rem ;
    height: fit-content;
    max-height: 80%;
    top: 4rem;
    background: transparent;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-for-sideBar-Items {
    -webkit-border-top-left-radius: 36px ;
    -webkit-border-top-right-radius: 36px;
    -moz-border-radius-topleft: 36px;
    -moz-border-radius-topright: 36px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }

  .opacity-position {
    bottom: 5rem ;
  }
  .stroke-position {
    bottom: 5rem ;
  }
  .import-position {
    bottom: 5rem ;
    z-index: auto ;
  }
  .shapes-position {
    bottom: 5rem ;
    z-index: auto ;
  }
  .text-position {
    bottom: 5rem ;
    z-index: auto ;
  }
  .modal-heading {
    color: #ffff  ;
  }
  .templates-position {
    bottom: 5rem ;
    z-index: auto ;
  }
  .position-position {
    bottom: 5rem ;
    z-index: auto ;
  }
  .fill-position {
    bottom: 4.4rem ;
    z-index: auto ;
  }
  .border-position {
    bottom: 5rem ;
    z-index: auto ;
  }
}
