.modal {
  width: 30vw;
  position: none;

  left: 5vw;
  height: fit-content;
  max-height: 90%;
  top: 4.8rem;
  /* bottom: 0; */
  /* overflow-y: scroll !important; */

  background: transparent;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-btn {
  cursor: pointer;
}
.opacity-position {
  top: 4.8rem !important;
}
.stroke-position {
  top: 4.8rem !important;
}

.modal-body {
  overflow: hidden !important;
  /* background-color: rgb(255, 255, 255) !important; */
  /* border-radius: 0px, 0px, 0px, 10px !important; */
}
.modal-heading {
  background-color: #5c85c7 !important ;
  color: #ffff !important ;
}
.absolute-position {
  z-index: 9999999;
}

.modal-close-button {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: red;
  font-weight: bolder;
  border-radius: 8px;
}
.modal-title-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .modal2 {
    width: 100%;
    left: 0;
    position: sticky !important;
    bottom: 0rem !important;
    height: fit-content;
    max-height: 80%;
    top: 4rem;
    background: transparent;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-download {
    width: 100%;
    left: 0;
    position: fixed !important;
    bottom: 0rem !important;
    height: fit-content;
    max-height: 80%;
    top: 4rem;
    background: transparent;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* .modal-text {
    width: 100%;
    left: 0;
    position: absolute !important;
    bottom: 0rem !important;
    height: fit-content;
    max-height: 80%;
    top: 4rem;
    background: transparent;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
  .modal-for-sideBar-Items {
    background-color: #102950 !important ;
    -webkit-border-top-left-radius: 36px !important;
    -webkit-border-top-right-radius: 36px;
    -moz-border-radius-topleft: 36px;
    -moz-border-radius-topright: 36px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }
  .theme-bg {
    background-color: #102950 !important ;
  }
  .opacity-position {
    bottom: 5rem !important;
  }
  .stroke-position {
    bottom: 5rem !important;
  }
  .import-position {
    bottom: 5rem !important;
    z-index: auto !important;
  }
  .shapes-position {
    bottom: 5rem !important;
    z-index: auto !important;
  }
  .text-position {
    bottom: 5rem !important;
    z-index: auto !important;
  }
  .modal-heading {
    background-color: #102950 !important ;
    color: #ffff !important ;
  }
  .templates-position {
    bottom: 5rem !important;
    z-index: auto !important;
  }
  .position-position {
    bottom: 5rem !important;
    z-index: auto !important;
  }
  .fill-position {
    bottom: 4.4rem !important;
    z-index: auto !important;
  }
  .border-position {
    bottom: 5rem !important;
    z-index: auto !important;
  }
}
