.Offcanvas {
  width: 30vw;
  left: 5vw;
  height: fit-content;
  max-height: 80%;
  top: 4.8rem;
  background: transparent;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Offcanvas-btn {
  cursor: pointer;
}
.Offcanvas-position {
  bottom: auto;
}

.Offcanvas-body {
  overflow: hidden ;
}

@media only screen and (max-device-width: 600px) {
  .Offcanvas {
    width: 100%;
    padding: 30px;
    background-color: rgb(213, 78, 0);
    left: 0;
    height: 80% ;
    max-height: 100% ;
    background: transparent;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Offcanvas-position {
    bottom: 5rem ;
  }
}
