.bg {
  background-color: black !important;
  /* height: 100vh; */
  color: white;
  background-color: #000e25 !important;
  /* min-height: 92vh; */
  /* max-height: 92vh; */
  /* margin-right: 20px !important; */
  /* display: flex !important; */
  /* justify-content: center !important; */
  /* flex-direction: column !important; */
  padding: 3.8vh 5% 0 5% !important;

  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.browse-image {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-filter {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.shape-card-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-template {
  /* background-color: black !important; */
  /* height:100vh; */
  color: white;
  background-color: #000e25 !important;
  min-height: 100vh;
  max-height: 100vh;
  /* margin-right:20px !important; */
  /* display: flex !important; */
  /* justify-content: center !important; */
  /* flex-direction: column !important; */
  padding-top: 3.8vh !important;
  /* overflow: auto;
    overflow-x: hidden; */
}

.import-paper {
  height: 70vh;
  /* padding: 2.5rem; */
  /* margin-top: 34rem; */
  overflow-y: scroll;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  /* grid-gap: 3em; */
  /* grid-gap: 3em; */
  grid-gap: 3em;
  gap: 3em;
  background-color: #000e25 !important;
  flex-direction: row;
}

.input {
  margin: 1vw;
  width: 25vw;
  height: 5vh;
  /* position:fixed; */
  z-index: 10;
}
.bgfix {
  padding: 2rem;
  /* background-color: aqua; */
}

.keyWords {
  /* margin:10px !important; */
  width: 28vw !important;
  min-height: 100px !important;
  max-height: 2000px !important;
  background-color: rgb(73, 71, 71) !important;
  border-radius: 20px !important;
  border: 3px solid #fff !important;
  display: flex !important;
  flex-wrap: wrap;
  /* justify-content: flex-start !important; */
  gap: 0.2em !important;
  /* align-items: center !important; */
  gap: 1vw !important;
  /* overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important; */
}
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:ital,wght@1,700&family=Poppins:wght@700&display=swap");
.keyWords-item {
  /* margin:10px !important; */
  min-width: 7em !important;
  max-width: 60em !important;
  min-height: 1em !important;
  max-height: 10em !important;
  background-color: rgb(0, 247, 255) !important;
  border-radius: 12px !important;
  border: 1px solid rgb(38, 32, 32) !important;
  color: black !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;

  align-items: center !important;
  font-family: "Oswald", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-family: "PT Sans", sans-serif !important;
  font-size: 0.8em !important;
  cursor: pointer !important;
}

.keyWords-item:hover {
  background-color: rgb(8, 202, 209) !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}

.template-flex {
  /* width: 100%; */
  /* height: 108vh; */
  padding: 0 2rem;
  height: 100%;
  /* padding: 0 12%; */
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start !important;
  justify-content: center !important;
  flex-direction: row;
  /* grid-gap: 3rem; */
  /* grid-gap: 3rem; */
  grid-gap: 1.5rem;
  gap: 1.5rem;
  overflow-y: scroll !;
}

.opt-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  gap: 3rem;
}

.opt-text {
  width: 193px;
  height: 32px;
  left: 24px;
  top: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;

  color: #919daf;
}
.opt-text-selected {
  width: 193px;
  height: 32px;
  left: 24px;
  top: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;

  color: #ffffff;
}
.opt-text:hover {
  width: 193px;
  height: 32px;
  left: 24px;
  top: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;

  color: #ffffff;
  cursor: pointer;
}
.under-line-1 {
  width: 200px;
  height: 8px;
  left: 24px;
  /* top: 48px; */
  margin-top: 5px;

  /* Blue/blue-50 */

  background: #eaf3ff;
  border-radius: 20px;
}

.under-line-2 {
  width: 125px;
  height: 8px;
  left: 279px;
  top: 48px;
  margin-top: 5px;

  /* Blue/blue-50 */

  background: #eaf3ff;
  border-radius: 20px;
}

.template-heading {
  width: 30vw;
  min-height: 4vh;
  max-height: 10vh;
  position: sticky;
  top: 8vh;
  z-index: 1;
  margin-bottom: 1em;
  text-align: center;
  background-color: #000e25;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0em;
  gap: 3em;
}
.shape-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 30%;
}
/* .shape-flex img {
  width: 40%;
} */

.shapeCard-child-div img {
  width: 10vw;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 90%;
  left: 36px;
  top: 112px;
  background: #5f708a;
  font-size: 2.4vw;
  cursor: pointer;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  width: 90%;
  left: 36px;
  top: 236px;
  margin-top: 1em;
  margin-bottom: 1em;

  /* Foundation /Body/body-300 */

  background: #5f708a;
  font-size: 1.4vw;
  cursor: pointer;
}

.title-text {
  width: 100%;
  height: 67px;
  background: #5f708a;
  border: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 300%;
  line-height: 170%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.subtitle-text {
  position: static;
  width: 100%;
  height: 38px;
  border: none;
  /* left: 24px;
  top: 12px; */

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;

  color: #eaeaea;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  background: #5f708a;

  outline: none;
}
.subtitle-text input {
  outline: none !important;
}
textarea:focus,
input:focus {
  outline: none;
  outline-color: none;
}
::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

.body-t {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;

  width: 90%;
  height: 48px;
  left: 36px;
  top: 332px;

  /* Foundation /Body/body-300 */

  background: #5f708a;
  cursor: pointer;
}

.body-text {
  position: static;
  width: 100%;
  height: 26px;
  left: 24px;
  top: 12px;
  border: none;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */

  color: #ffffff;
  background: #5f708a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.rect-shape {
  width: 145px;
  height: 145px;
  left: 28px;
  top: 26px;

  /* Blue/blue-50 */

  background: #eaf3ff;
}

.circle-shape {
  width: 145px;
  height: 145px;
  left: 28px;
  top: 26px;

  /* Blue/blue-50 */

  background: #eaf3ff;
  border-radius: 128px;
}

.star-shape {
  --star-color: orange;
  margin: 1em auto;
  font-size: 10em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-star:after {
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.bg-color-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.from-device-import-section {
  width: 436px;
  height: 374px;
  left: 36px;
  top: 252px;
  /* Gray */
  background: rgba(0, 0, 0, 0.46);
  /* Blue/blue-100 */
  border: 1px dashed #bfd9ff;
  /* box-sizing: border-box; */
  border-radius: 12px;
  margin: 25% 1em 0px 2em;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.from-device-import-section-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 12px 60px;s */

  width: 200px;
  height: 50px;

  /* Blue/blue-500 */

  background: #3083ff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.import-button-text {
  width: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */

  /* Blue/blue-50 */

  color: #eaf3ff;
}

.import-img {
  margin: 16% 30% 16% 30%;
}

@media only screen and (max-device-width: 620px) {
  .rect-shape {
    width: 100px !important;
    height: 100px !important;
    left: 28px !important;
    top: 26px !important;
    background: #eaf3ff !important;
  }
  .circle-shape {
    width: 100px !important;
    height: 100px !important;
    left: 28px !important;
    top: 26px !important;
    background: #eaf3ff !important;
    border-radius: 128px !important;
  }
  .star-img {
    width: 100px !important;
  }
  .title-text {
    width: 100%;
    height: 67px;
    background: #5f708a;
    border: none;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 170%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }
}
