.bg {
  color: white;
  padding: 3.8vh 5% 0 5% ;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.browse-image {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-filter {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.shape-card-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-template {
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 3.8vh ;
  background-color: #ffffff61;
  border-radius: 0 30px 30px 0;
}

.import-paper {
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 10px;
  justify-content: space-evenly;
}

.input {
  margin: 1vw;
  width: 25vw;
  height: 5vh;
  z-index: 10;
}
.bgfix {
  padding: 2rem;
}

.keyWords {
  width: 28vw ;
  min-height: 100px ;
  max-height: 2000px ;
  background-color: rgb(73, 71, 71) ;
  border-radius: 20px ;
  border: 3px solid #fff ;
  display: flex ;
  flex-wrap: wrap;
  gap: 0.2em ;
  gap: 1vw ;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:ital,wght@1,700&family=Poppins:wght@700&display=swap");
.keyWords-item {
  min-width: 7em ;
  max-width: 60em ;
  min-height: 1em ;
  max-height: 10em ;
  background-color: rgb(0, 247, 255) ;
  border-radius: 12px ;
  border: 1px solid rgb(38, 32, 32) ;
  color: black ;
  text-align: center ;
  display: flex ;
  justify-content: center ;

  align-items: center ;
  font-family: "Oswald", sans-serif ;
  font-family: "Poppins", sans-serif ;
  font-family: "PT Sans", sans-serif ;
  font-size: 0.8em ;
  cursor: pointer ;
}

.keyWords-item:hover {
  background-color: rgb(8, 202, 209) ;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}

.template-flex {
  padding: 0 2rem;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start ;
  justify-content: center ;
  flex-direction: row;
  grid-gap: 1.5rem;
  gap: 1.5rem;
  overflow-y: scroll !;
}

.opt-flex {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}

.opt-text {
  left: 24px;
  top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #919daf;
}
.opt-text-selected {
  left: 24px;
  top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;

  color: #ffffff;
}
.opt-text:hover {
  left: 24px;
  top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  cursor: pointer;
}
.under-line-1 {
  width: 200px;
  height: 8px;
  left: 24px;
  margin-top: 5px;
  background: #eaf3ff;
  border-radius: 20px;
}

.under-line-2 {
  width: 125px;
  height: 8px;
  left: 279px;
  top: 48px;
  margin-top: 5px;
  background: #eaf3ff;
  border-radius: 20px;
}

.template-heading {
  width: 30vw;
  min-height: 4vh;
  max-height: 10vh;
  position: sticky;
  top: 8vh;
  z-index: 1;
  margin-bottom: 1em;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0em;
  gap: 3em;
}
.shape-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 30%;
}
.shapeCard-child-div img {
  width: 10vw;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 90%;
  left: 36px;
  top: 112px;
  background: #5f708a;
  font-size: 2.4vw;
  cursor: pointer;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  width: 90%;
  left: 36px;
  top: 236px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #5f708a;
  font-size: 1.4vw;
  cursor: pointer;
}

.title-text {
  width: 100%;
  height: 67px;
  background: #5f708a;
  border: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 300%;
  line-height: 170%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.subtitle-text {
  position: static;
  width: 100%;
  height: 38px;
  border: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #eaeaea;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  background: #5f708a;
  outline: none;
}
.subtitle-text input {
  outline: none ;
}
textarea:focus,
input:focus {
  outline: none;
  outline-color: none;
}
::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

.body-t {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;

  width: 90%;
  height: 48px;
  left: 36px;
  top: 332px;
  background: #5f708a;
  cursor: pointer;
}

.body-text {
  position: static;
  width: 100%;
  height: 26px;
  left: 24px;
  top: 12px;
  border: none;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
  background: #5f708a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.rect-shape {
  width: 145px;
  height: 145px;
  left: 28px;
  top: 26px;
  background: #eaf3ff;
}

.circle-shape {
  width: 145px;
  height: 145px;
  left: 28px;
  top: 26px;
  background: #eaf3ff;
  border-radius: 128px;
}

.star-shape {
  --star-color: orange;
  margin: 1em auto;
  font-size: 10em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-star:after {
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.bg-color-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.from-device-import-section {
  width: 250px;
  height: 374px;
  left: 36px;
  top: 252px;
  background: rgba(0, 0, 0, 0.46);
  border: 1px dashed #bfd9ff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.from-device-import-section-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: #3083ff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.import-button-text {
  width: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #eaf3ff;
}

.import-img {
  margin: 16% 30% 16% 30%;
}

@media only screen and (max-device-width: 620px) {
  .rect-shape {
    width: 100px ;
    height: 100px ;
    left: 28px ;
    top: 26px ;
    background: #eaf3ff ;
  }
  .circle-shape {
    width: 100px ;
    height: 100px ;
    left: 28px ;
    top: 26px ;
    background: #eaf3ff ;
    border-radius: 128px ;
  }
  .star-img {
    width: 100px ;
  }
  .title-text {
    width: 100%;
    height: 67px;
    background: #5f708a;
    border: none;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 170%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }
}
