@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:ital,wght@1,700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.sideBarBG {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  grid-gap: 4vh;
  flex-direction: column;
  color: white;
  padding-top: 3.8vh;
  background-color: #616161c4;
  overflow: scroll;
  padding:10px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sideBarBG::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sideBarBG {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tempIcon {
  align-self: center ;
  cursor: pointer;
  width:50px;
  svg{
    width:100%;
  }
  &.selected svg *{
    fill:#0080ff;
}
}
.tempIcon svg *{
  fill:#bfd9ff;
}
.tempIcon:hover svg *{
      fill:#0080ff;
}
.tempIcon-image {
  width: 50%;
}
.group {
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
/* .group:hover {
  background-color: rgb(63, 130, 240);
  border-radius: 6px;
  transition: 0.1s all ease-in-out;
} */

.fontSize-sb {
  font-size: 0.9vw ;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

.bg {
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 3.8vh ;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #ffffff61;
  border-radius: 0px 30px 30px 0px;
}

.paper {
  height: 70vh;
  width: 29vw;
  padding: 2.5rem;
  margin-top: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.md-import-paper {
  height: 29vh ;
  width: 89vw ;
  padding: 0.5rem ;
  margin-top: 1rem;
  overflow-y: none ;
  display: flex ;
  flex-direction: row ;
  overflow-x: scroll ;
  align-items: center ;
  flex-wrap: nowrap ;
  grid-gap: 1.5em ;
  gap: 1.5em ;
}

.input {
  margin: 1vw;
  width: 25vw;
  height: 5vh;
  /* position:fixed; */
  z-index: 10;
}
.bgfix {
  padding: 2rem;
}

.keyWords {
  width: 28vw ;
  min-height: 100px ;
  max-height: 2000px ;
  background-color: rgb(73, 71, 71) ;
  border-radius: 20px ;
  border: 3px solid #fff ;
  display: flex ;
  flex-wrap: wrap;
  gap: 0.2em ;
  gap: 1vw ;
}
.keyWords-item {
  min-width: 7em ;
  max-width: 60em ;
  min-height: 1em ;
  max-height: 10em ;
  background-color: rgb(0, 247, 255) ;
  border-radius: 12px ;
  border: 1px solid rgb(38, 32, 32) ;
  color: black ;
  text-align: center ;
  display: flex ;
  justify-content: center ;

  align-items: center ;
  font-family: "Oswald", sans-serif ;
  font-family: "Poppins", sans-serif ;
  font-family: "PT Sans", sans-serif ;
  font-size: 0.8em ;
  cursor: pointer ;
}

.keyWords-item:hover {
  background-color: rgb(8, 202, 209) ;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}

/* .opt-flex {
  display: flex;
  flex-wrap: nowrap ;
  align-content: flex-start;
  justify-content: space-around;
  gap: 3rem;
} */

.opt-text-sideBar {
  left: 24px;
  top: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;

  color: #919daf;
}
.opt-text-selected {
  left: 24px;
  top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
}
.opt-text-sideBar:hover {
  left: 24px;
  top: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;

  color: #ffffff;
  cursor: pointer;
}
.under-line-1 {
  width: 200px;
  height: 8px;
  left: 24px;
  margin-top: 5px;
  background: #eaf3ff;
  border-radius: 20px;
}

.under-line-2 {
  width: 125px;
  height: 8px;
  left: 279px;
  top: 48px;
  margin-top: 5px;
  background: #eaf3ff;
  border-radius: 20px;
}

.template-heading {
  width: 30vw;
  min-height: 4vh;
  max-height: 10vh;
  position: sticky;
  top: 8vh;
  z-index: 1;
  margin-bottom: 1em;
  text-align: center;
  font-size: 24px;
}

.flex-template {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0em;
  gap: 3em;
}
/* .shape-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
} */
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 436px;
  height: 92px;
  left: 36px;
  top: 112px;
  background: #5f708a;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  width: 436px;
  height: 60px;
  left: 36px;
  top: 236px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #5f708a;
}

.title-text {
  width: 100%;
  height: 67px;
  background: #5f708a;
  border: none;

  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.subtitle-text {
  position: static;
  width: 100%;
  height: 38px;
  border: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;

  color: #eaeaea;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  background: #5f708a;

  outline: none;
}
.subtitle-text input {
  outline: none ;
}
textarea:focus,
input:focus {
  outline: none;
  outline-color: none;
}
::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

.body-t {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;

  width: 436px;
  height: 48px;
  left: 36px;
  top: 332px;
  background: #5f708a;
}

.body-text {
  position: static;
  width: 100%;
  height: 26px;
  left: 24px;
  top: 12px;
  border: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
  background: #5f708a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.rect-shape {
  width: 145px;
  height: 145px;
  left: 28px;
  top: 26px;
  background: #eaf3ff;
}

.circle-shape {
  width: 145px;
  height: 145px;
  left: 28px;
  top: 26px;
  background: #eaf3ff;
  border-radius: 128px;
}

.star-shape {
  --star-color: orange;
  margin: 1em auto;
  font-size: 10em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.five-pointed-star:after {
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.bg-color-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.from-device-import-section {
  width: 250px;
  height: 374px;
  left: 36px;
  top: 252px;
  background: rgba(0, 0, 0, 0.46);
  border: 1px dashed #bfd9ff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.from-device-import-section-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: #3083ff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.import-button-text {
  width: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #eaf3ff;
}

.import-img {
  margin: 16% 30% 16% 30%;
}
.image-card_ {
  height: 20rem ;
  width: 10rem ;
}
.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@media only screen and (max-device-width: 620px) {
  .sideBarBG {
    height: 5rem;
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0;
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    gap: 4vh;
    color: white ;
    padding-top: 0vh ;
    padding: 0px ;
    flex-direction: row ;
    overflow: hidden ;
    padding-left: 3% ;
  }
  .fontSize-sb {
    font-size: 0.9vw ;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
  }
  .paper {
    height: 29vh ;
    width: 89vw ;
    padding: 0.5rem ;
    margin-top: 1rem;
    overflow-y: none ;
    display: flex ;
    flex-direction: row ;
    overflow-x: scroll ;
    align-items: center ;
    flex-wrap: nowrap ;
    gap: 1.5em ;
  }

  .opt-text-sideBar {
    left: 24px ;
    top: 16px ;
    font-family: "Roboto" ;
    font-style: normal ;
    font-weight: 700 ;
    font-size: 15px ;
    line-height: 120% ;
    color: #ffffff ;
  }
  .opt-text-selected {
    left: 24px ;
    top: 16px ;
    font-family: "Roboto" ;
    font-style: normal ;
    font-weight: 700 ;
    font-size: 14px ;
    line-height: 120% ;
    color: #ffffff ;
  }
  .opt-text-sideBar:hover {
    left: 24px ;
    top: 16px ;
    font-family: "Roboto" ;
    font-style: normal ;
    font-weight: 700 ;
    font-size: 14px ;
    line-height: 120% ;
    color: #ffffff ;
    cursor: pointer ;
  }
  .under-line-1 {
    width: 130px ;
    height: 8px ;
    left: 24px ;
    margin-top: 5px ;
    background: #eaf3ff ;
    border-radius: 20px ;
  }
  .under-line-2 {
    width: 85px ;
    height: 8px ;
    left: 279px ;
    top: 48px ;
    margin-top: 5px ;
    background: #eaf3ff ;
    border-radius: 20px ;
  }
  .from-device-import-section {
    width: 231px ;
    height: 210px ;
    left: 36px;
    top: 252px;
    background: rgba(0, 0, 0, 0.46);
    border: 1px dashed #bfd9ff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .import-img {
    margin: 0% 15% 0% 15% ;
    width: 133px ;
  }

  .flex-template {
    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: flex-start ;
    overflow-y: scroll ;
    gap: 2em;
  }

  .shape-flex {
    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: flex-start ;
    flex-wrap: nowrap ;
    overflow-y: scroll ;
    gap: 3rem;
  }
  .flex-text {
    display: flex;
    flex-wrap: wrap ;
    align-content: flex-start ;
    flex-direction: row ;
  }
}
