.btn1 {
  min-width: 1vw ;
  height: 4vh ;
  background-color: rgb(4, 125, 200);
  margin: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  border: 2px solid rgb(8, 197, 255);
  border-radius: 15px ;
}

.btn1:hover {
  background-color: rgb(191, 185, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(10, 12, 12);
  border: 2px solid rgb(128, 0, 255);
  border-radius: 15px ;
}
