.fill-card-hw {
  /* min-width: 4rem;
  max-width: 6rem;
  min-height: 4rem;
  max-height: 6rem; */
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: solid rgb(168, 168, 168) 2px;
}

@media only screen and (max-device-width: 600px) {
  .fill-card-hw {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: solid rgb(168, 168, 168) 2px;
  }
}
