.main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* overflow: auto; */
  padding: 0% 3%;
}

.actab-elements-div {
  width: 10%;
}
.main div {
  cursor: pointer !important;
}

.actabBG {
  /* min-width: 10vw;
  max-width: 40vw; */
  min-height: 5rem;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(160, 198, 255, 0.2);
}

.border {
  border-radius: 40px !important;
  background: #eaf3ff !important;
  box-shadow: inset 6px 3px 14px 0px #466dab, inset 5px -20px 20px 13px #ffffff !important;
  /* overflow-x: scroll; */
}

.div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
  width: 40px;
  opacity: 1;
}

.div-icon:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
  width: 40px;
  background-color: #a0a0a0;
}

.BorderRadiusItem-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.input-field {
  margin: 0px 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 83px;
  height: 80px;
  opacity: 1;
}
.border-img {
  width: 2rem;
}
.solid-color-sec {
  height: 350px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1rem;
}

.border-text {
  width: 102px !important;
  height: 17px;
  /* left: 15px;
  top: 50px; */

  /* Xsmall */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  /* identical to box height, or 17px */

  /* cool gray */

  color: #111827;
}

.position-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.position-item {
  width: 83px;
  height: 80px;
  left: 16px;
  top: 68px;
  margin: 20px;
}

.color-picker {
  width: 100% !important;
}
.ReplaceItem-flex {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-device-width: 600px) {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 6% !important;
    column-gap: 0% !important;
    border: none !important;
    overflow: scroll !important;
    position: fixed;
    bottom: 0px !important;
    z-index: 9999;
    left: 0 !important;
    width: 100%;
  }

  .actabBG {
    /* min-width: 10vw;
    max-width: 40vw; */
    min-height: 5rem !important;
    margin-top: 1rem;
    background: #ffffff;
    box-shadow: none !important;
  }
  .color-picker {
    width: 100% !important;
    max-width: 100% !important;
  }
  .solid-color-sec {
    height: 70px !important;
    width: 100% !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    overflow-x: scroll !important ;
    gap: 1rem !important;
  }
  .opt-text {
    width: 169px !important;
    height: 29px !important;
    left: 0px !important;
    top: 5px !important;
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 120% !important;
    color: #000000 !important;
  }
  .border {
    border-radius: 0px !important;
    background: #eaf3ff !important;
    box-shadow: none !important;
  }
  .position-div {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
