.image_container{
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
    .bg_img_main{
        height: 100vh;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        width: 100vw;
    }
    .blur{
        height: 100vh;
        position: absolute;
        width: 100vw;
        backdrop-filter: blur(10px);
    }
}

.blur::before {
    background-color: rgba(235, 235, 235, .3);
    content: '';
    filter: blur(18px);
    position: absolute;
    inset: 3%;
    z-index: -1;
  }