.download {
  align-self: center ;
  height: 75% ;
  width: 70% ;
  left: 17% ;
  top: 15% ;
  z-index: 9999999999999999;
}

.modal-image {
  background-color: rgb(252, 252, 252);
  min-width: 10em;
  max-width: 20em;
  left: 148px;
  top: 128px;
  margin-top: 3rem ;
  margin-bottom: 3rem ;
  margin: 9.25rem;
}

.m-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-control-size {
  width: 90%;
}

.btn-1st {
  width: 436px;
  height: 56px;
  left: 738px;
  top: 271px;
  background: #eaf3ff;
  border: 2px solid #a0c6ff;
  border-radius: 12px;
  margin: 2em;
  margin-left: 0em;
}

.btn-label {
  width: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.btn-flex {
  display: flex ;
  justify-content: flex-start ;
  align-items: center ;
}

.recomended {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 120px;
  left: 215px;
  background: #3083ff;
  border-radius: 50px;
}

.download-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botton-save {
  margin-right: 2rem;
  padding: 0.6em 2em;
  background: #ffffff;
  border: none;
  border-radius: 9.5rem;
  color: #000e25;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.botton-save:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.botton-save:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-device-width: 600px) {
  .download-flex {
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden ;
  }

  .botton-save {
    margin-right: 0.5rem ;
    padding: 0em 1em ;
    background: #ffffff;
    border: none;
    border-radius: 9.5rem;
    color: #000e25;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .download {
    align-self: center ;
    min-height: 90% ;
    max-height: 90% ;
    min-width: 90% ;
    max-width: 90% ;
    left: 5% ;
    top: 6% ;
    z-index: 9999999999999999;
    overflow: scroll ;
  }

  .modal-image {
    background-color: rgb(252, 252, 252) ;
    min-width: 5em ;
    max-width: 10em ;
    left: 0;
    top: 12px ;
    margin-top: 0.5rem ;
    margin-bottom: 0.5rem ;
    margin: 0rem 5rem;
  }
  .btn-1st {
    width: 230px;
    height: 56px;
    left: 738px;
    top: 271px;
    background: #eaf3ff;
    border: 2px solid #a0c6ff;
    border-radius: 12px;
    margin: 0.5em;
    margin-left: 0em;
  }

  .btn-label {
    width: 150px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .btn-flex {
    display: flex ;
    justify-content: flex-start ;
    align-items: center ;
  }
  .recomended {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 80px;
    left: 215px;
    background: #3083ff;
    border-radius: 50px;
    font-size: 10px;
  }
}
