.editor_main_container{
    display:flex;
    
}

.stage123{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    canvas{
        background-color: #ffffff !important;
    }
}
.stage_nd_actionTab{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    gap: 20px;
}
.stage_wrapper{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 0 40px;
}

body {
    background-color: #eaf3ff ;
    overflow-y: hidden ;
  }
  .hide-scoll {
    overflow-y: hidden ;
  }
  
  .stage {
    background-color: #eaf3ff ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
    min-width: fit-content;
    max-width: 62vw;
    margin: 0.05rem;
    height: 82vh;
    padding: 05px;
  }
  body canvas {
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 5%), 0px 15px 64px rgb(0 0 0 / 5%);
  }
  
  .canvas canvas {
    -webkit-transition: all 0.0001s ;
    left: 510px;
    top: 216px;
  
    background: #ffffff ;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 5%), 0px 15px 64px rgb(0 0 0 / 5%);
  }
  .container {
    width: 500px;
    background-color: rgb(235 236 240);
    margin-top: 3%;
  }
  
  .app {
    display: flex;
    flex-direction: column;
  }
  
  .canvasDiv {
    padding: 20px ;
    width: -webkit-fill-available;
  }
  
  .sideBar {
    width: 5vw;
  }
  .sideBarContent {
    width: 700px;
  }
  
  @media only screen and (max-device-width: 620px) {
    body {
      background-color: #eaf3ff ;
      overflow: auto ;
    }
    body .modal-open {
      overflow-y: hidden ;
      margin: -3.5px ;
      font-family: var(--bs-font-sans-serif) ;
      font-size: 1rem ;
      font-weight: 400 ;
      line-height: 1.5 ;
      color: #212529 ;
      background-color: #eaf3ff ;
      -webkit-text-size-adjust: 100% ;
      -webkit-tap-highlight-color: transparent ;
    }
    .stage {
      background-color: #005dd7 ;
      display: flex ;
      flex-direction: column ;
      justify-content: center ;
      align-items: center ;
      min-width: fit-content;
      max-width: 50vw;
      margin: 1.8rem;
      height: 50%;
      padding: 5px;
    }
    .canvasDiv {
      height: 90vh ;
      min-width: 100vw ;
      max-width: 64vw ;
      padding: 20px ;
    }
    .canvasDiv_flex {
      display: flex ;
    }
    .sideBar {
      width: 100%;
    }
    .container {
      width: 100% ;
      padding-bottom: 30px ;
    }
    .row {
      width: 100vw ;
    }
  }
  
  @media only screen and (max-device-width: 620px) {
  }
  @media only screen and (max-device-width: 620px) {
  }
  @media only screen and (max-device-width: 620px) {
  }
  @media only screen and (max-device-width: 620px) {
  }
  @media only screen and (max-device-width: 620px) {
  }
  